.container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	position: relative;
}

.description {
	display: flex;
	align-items: center;
	flex-direction: column;
	position: absolute;
	top: 0;
}

.steps {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	max-width: 280px;
}

.wrapper {
	margin-top: 20px;
	align-items: center;
}

.buttons {
	align-items: center;
	margin-top: 40px;
}